<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form methods="POST" action="user_input">
      <p> Enter Phrase <input type="text" name="use_input"></p>

  </body>
</html>
